git /extensions/HeightMap			git://github.com/oe-legacy/extensions-HeightMap.git
git-dev /extensions/HeightMap			git@github.com:oe-legacy/extensions-HeightMap.git

# HeightMap dependencies
dist /extensions/MeshUtils/MeshUtils.dist       https://raw.github.com/oe-legacy/extensions-MeshUtils/master/MeshUtils.dist
